/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #cafab9;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
} 
/*everything below is from vid */

.container {
  width: 100%;
  min-height: 100%;
  /* background: linear-gradient(red, blue); */
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: rgb(237, 176, 176);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  /*border: 10px solid; */
}

.todo-app h1 {
  color: red;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



 /*.row {
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
} */

form .write {
border-radius: 10px;
padding: 0.9rem;
border: 3px solid;
}

form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.9rem;
  margin-bottom: 30px;
}

.form label {
  grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 10px;
}

.input[type="text"] {
  grid-column-start: 1;
  grid-column-end: 3;
  border: none;
  padding: 10px;
  border-radius: 10px;
  /*box-shadow: 0 0 15px 4px rgba(132, 20, 20, 0.06);*/
}

button {
background-color: #e63946;
/* border: none; */
border: 3px solid;
color: rgb(255, 255, 255);
font-weight: bold;
padding: 10px 10px;
text-decoration: none;
cursor: pointer;
border-radius: 10px;
/*insert box shadow */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 2rem;
  padding: 0.9rem;
  font-size: 16px;
  border-radius: 10px;
  background-color: #cafab9;
  transition: 0.2s;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #797474;
}

/****** Screen reader text utility class *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}